.main__services {
  background-image: url('../../img/green-bird.png');
  background-repeat: no-repeat;
  background-position: calc(50% + 455px) center;
  background-size: 435px 435px;
}

.services .container {
  padding-top: 110px;
  padding-bottom: 139px;
}

.services__info {
  max-width: 450px;
  margin-left: 112px;
}


.services__heading {
  font-family: 'Futura PT';
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 70px;
  line-height: 1;
  color: #333333;
}


.services__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  color: #949494;
}

.services__list {
  max-width: 100%;
  display: flex;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.services__item {
  width: 305px;
  flex-shrink: 0;
  margin: 0 10px;
  margin-bottom: 37px;
  padding: 50px 22px 45px 50px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  transition: filter ease 0.3s;
}

.services__item:nth-child(odd) {
  background-image: url('../../img/service-bgi.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.services__item:nth-child(even) {
  background-image: url('../../img/even-pet-bgi.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.services__item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}



.services__item::before {
  width: 90px;
  height: 90px;
  content: '';
  display: inline-block;
  margin-bottom: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../img/doctor.svg');
}

.services__item:nth-child(2):before {
  background-image: url('../../img/dog-with-girl.svg');
}

.services__item:nth-child(3):before {
  background-image: url('../../img/dog.svg');
}

.services__item:nth-child(4):before {
  background-image: url('../../img/dog-doging.svg');
}

.services__item:nth-child(5):before {
  background-image: url('../../img/Laboratory.svg');
}

.services__item:nth-child(6):before {
  background-image: url('../../img/two-dog.svg');
}

.services__item:nth-child(7):before {
  background-image: url('../../img/uzi.svg');
}

.services__item:nth-child(8):before {
  background-image: url('../../img/ukol.svg');
}

.services__item:nth-child(9):before {
  background-image: url('../../img/passport.svg');
}

.services__item:nth-child(10)::before {
  background-image: url('../../img/vaccine.svg');
}

.services__item:nth-child(11)::before {
  background-image: url('../../img/stom.svg');
}

.services__item:nth-child(12)::before {
  background-image: url('../../img/plus-chem.svg');
}

.service__name {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  width: 100%;
  color: #333333;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 14px;
  word-break: break-word;
}

.service__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-top: 0;
  margin-bottom: 26px;
}

.service__link {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  transition: ease 0.5s background-color;
}

.service__link:hover.service__link:hover {
  background-color: #000;
}

.services__item:nth-child(odd) .service__link {
  background-color: #FFBD54;
}

.services__item:nth-child(even) .service__link {
  background-color: #78C0DE;
}
@media screen and (max-width: 1320px) {
  .services__list {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1150px) {
  .main__services {
    background-position: calc(50% + 300px) center;
  }
  .service__name {
    font-size: 28px;
    line-height: 31px;
  }
}
@media screen and (max-width: 1020px) {
  .services__item {
    width: 282px;
  padding: 45px 20px 40px 45px;
  }
}
@media screen and (max-width: 950px) {
  .main__services {
    background-position: calc(50% + 200px) right;
  }
  .service__name {
    font-size: 25px;
    line-height: 27px;
  }
  .services__item {
    width: 272px;
    padding: 42px 18px 36px 42px;
  }
  .services .container {
    padding-top: 50px;
    padding-bottom: 139px;
  }
.services__list {
  justify-content: space-around;
}
  .services__info {
    margin-left: 20px;
  }
}

@media screen and (max-width: 770px) {
  .main__services {
    background-image: none;
  }
  .services__item {
    width: 255px;
  }

  .services .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .services__info {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (max-width: 600px) {
  .services__heading {
    margin-bottom: 21px;
    font-size: 55px;
  }

  .services__item {
    padding: 38px 18px 34px 38px;
    width: 240px;
      }
  .services__text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 565px) {
  .services__item {
    padding: 32px 18px 32px 28px;
    width: 222px;
    margin: 0;
      }

      .services .container {
        padding-top: 25px;
        padding-bottom: 15px;
      }
      .services__item::before {
        width: 80px;
        height: 80px;
        margin-bottom: 21px;
      }
}
@media screen and (max-width: 485px) {
  .services__item {
    padding: 25px 15px 25px 19px;
    width: 185px;
    margin: 0;
      }
      .service__name {
        font-size: 22px;
        line-height: 19px;
      }
      .service__link {
        padding: 12px 25px;
      }
}
@media screen and (max-width: 410px) {
  .services__heading {
    margin-bottom: 17px;
    font-size: 40px;
  }
  .services__list {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: center;
  }

  .services__text {
    font-size: 14px;
    line-height: 18px;
  }
}